$footer--backgroundColor: #f7edd9;
$footer--textColor: #70533b;

$pc: 1180px;
$tb: 1179px;
$sp: 767px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin tb {
  @media (max-width: ($tb)) and (min-width: 766px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.l-footer {
  background-color: $footer--backgroundColor;
  width: 100%;
  overflow: hidden;
  @include pc {
    padding: 50px;
  }
  @include tb {
    padding: 50px;
  }
  @include sp {
    padding: 20px;
  }
}

.l-footer__titleSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-footer__title {
  color: $footer--textColor;
  font-family: tbcinergothic-std, sans-serif;
  font-weight: 600;
  font-style: normal;
  @include pc {
    font-size: 50px;
  }
  @include tb {
    font-size: 40px;
  }
  @include sp {
    font-size: 27px;
  }
}

.l-footer__cafeLogo {
  margin-left: 20px;
  @include pc {
    width: 48px;
    height: 48px;
  }
  @include tb {
    width: 38px;
    height: 38px;
  }
  @include sp {
    width: 28px;
    height: 28px;
    margin-left: 10px;
  }
}

.l-footer__copyright {
  display: flex;
  justify-content: center;
  color: $footer--textColor;
  margin-top: 10px;
  font-family: tbcinergothic-std, sans-serif;
  font-weight: 600;
  font-style: normal;
  @include pc {
    font-size: 20px;
  }
  @include tb {
    font-size: 15px;
  }
  @include sp {
    font-size: 10px;
  }
}
