$header--textColor: #ffffff;
$headerText--backgroundColor: rgba(0, 0, 0, 0.651);

$pc: 1180px;
$tb: 1179px;
$sp: 767px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin tb {
  @media (max-width: ($tb)) and (min-width: 766px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.l-header {
  width: 100%;
  overflow: hidden;
}

.l-header__image--section {
  background-image: url("images/drink/ogasutaYAT4M3A8100_TP_V.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0.8;
  background-position: 50% 50%;
}

.l-header__image--title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: $headerText--backgroundColor;
  width: 500px;
  padding: 20px;
}

.l-header__image--cafeName {
  font-size: 50px;
  color: $header--textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: tbcinergothic-std, sans-serif;
  font-weight: 600;
  font-style: normal;
  @include sp {
    font-size: 35px;
  }
}

.l-header__image__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.l-header__image--logoitem {
  width: 50px;
  @include sp {
    width: 38px;
  }
}
